.Header1{
  background-color:bisque;
  display: flex;
}
.img13{
  width: 100%;
  height: 10%;
}
.row2{
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}
.list{
  display: flex;
  gap: 40px;
  vertical-align: middle;
  padding-top: 30px;
  text-decoration: none;
  list-style: none;
}
.menu-list{
  text-decoration: none;
  list-style: none;
}
.list-item{
  text-decoration: none;
}
button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms;
  overflow: hidden;
 }
 
 button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
  transition: all 250ms
 }
 
 button:hover {
  color: #e8e8e8;
 }
 
 button:hover::before {
  width: 100%;
 }
 .button1{
  margin-top: 30px;
 }
 .img1{
  width: 100px;
 }
 @media only screen and (min-width: 1240px) {
 .hemberger{
  display: none;
 }
}
@media only screen and (min-width: 775px) {
  .hemberger{
   display: none;
  }
 }
 @media only screen and (max-width: 600px) {
.list{
  display: none;
}
.img1{
  width: 50px;
}
.hemberger{
  float: right;
  margin-top: -40px;
}
.button1{
  display: none;
}
}
.top-to-btm{
  position: relative;
}
.icon-position{
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
}
.icon-style{
  background-color: #551B54;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all .5s ease-in-out;
}
.icon-style:hover{
  animation: none;
  background: #fff;
  color: #551B54;
  border: 2px solid #551B54;
}
@keyframes movebtn {
  0%{
    transform: translateY(0px);
  }
  25%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  75%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}